.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nomMovie{
  font-size: 25px !important;
  font-weight: bold !important;
}

.imageMovie{
  /*width:  400px !important;*/
  height:  400px !important;
}
.CardMovie{
  align-items: center;
  margin-top: 5px;
  height: 650px !important;
}
.detailFilm{
  text-align: center;
}
.descriptionFilm{
  height: 100px;
}